#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.centered {
  margin: 0 auto;
}
.flex-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-height: 60vh;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    max-height: none;
  }
}
.flex {
  flex: 1;
  max-width: 600px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
.transparent {
  opacity: 0.6;
}
.dropzone {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 2em;
  cursor: pointer;
  transition: border-color 300ms;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropzone:hover {
  border-color: #646cff;
}

.result-image-container {
  position: relative;
  height: 100%;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  input {
    height: 40px;
    font-size: 20px
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  max-width: 600px;
}

.read-the-docs {
  color: #888;
}

.loading {
  animation: pulse 5s ease-in-out infinite;
}
@keyframes pulse {
  25% {
    opacity: 0.5
  }

  50% {
    opacity: 1
  }
  75% {
    opacity: 0.5
  }
}
